<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">
 
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  	
    <appender name="FileAppender" class="org.apache.log4j.FileAppender">
       <param name="File" value="${catalina.home}/webapps/userapiweb/applogs/applog.log" />
       <layout class="org.apache.log4j.PatternLayout">
          <param name="ConversionPattern" value="%-7p %d [%t] %c %x - %m%n"/>
       </layout>
    </appender>
 	
 	<category name="org.hibernate.SQL">  
    	<priority value="DEBUG" />  
    </category>
    
    <category name="org.hibernate.type.descriptor.sql">  
    	<priority value="TRACE" />  
    </category>
 	
    <root>
        <priority value="INFO"/>
        <appender-ref ref="FileAppender" />
    </root>
     
</log4j:configuration>